/* General CSS */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  outline: none;
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
}

ul { 
  list-style: none;
}

a {
  color: black;
  padding: 10px;
  width: 100%;
}


a:visited {
  text-decoration: none;
}

/* Template Layout */

/* Header Bar */

.header__container {
  margin: auto;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #B3A398;
}

.header__left {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header__right {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.header__lists {
  display: flex;
}

.header__list {
  margin-right: 15px;
}

.header__button {
  font-size: large;
}


/* Side Navigation */
.navigation__container {
  background-color: lightgray;
  height: 500px;
  width: 150px;
  padding-top: 10px;
}

.navigation__container a:hover {
  background-color: #B0A695;
  border-radius: 5px;
}

.navigation__list {
  padding: 10px;
}

/* Footer */
.footer {
  background-color: grey;
}

/* Home Page */
.layout-body {
  display: flex;
}

.home_page {
  flex-grow: 1;
}

.listings {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 25px;
}

.listing-box {
  margin-left: 15px;
  margin-top: 15px;
  align-items: center;
  text-align: center;
  padding: 5px;
  width: 250px;
  border-radius: 5px;
  background-color: #EBE3D5;
}

.listing-box-img {
  margin-top: 10px;
  width: 90%;
  height: 80%;
  background-color: white;
}

/* Listing */
.listing-container {
  display:flex;
  padding: 20px;
}

.listing-container img {
  height: 75%;
}

.listing-details {
  margin-left: 20px;
}

/* Login */
.login-page * {
  text-align: center;
  align-items: center;
}

.login-form {
  border: 1px solid black;
  border-radius: 10px;
  width: 500px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  
}

.login-container {
  padding: 20px;
  width: 500px;
}

.login-container * {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  width: 275px;
}

.login-page a {
  margin:auto;
  text-align: center;
  color: darkgray;
  text-decoration: underline;
}

.login-page a:hover {
  margin:auto;
  text-align: center;
  color: blue;
}
