/* General CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-background: #f5f5f5;
  --color-hover: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins";
  font-size: 15px;
  border-radius: 5px;
}

ul { 
  list-style: none;
}

a {
  color: black;
  padding: 10px;
  width: 100%;
}

a:visited {
  text-decoration: none;
}

button {
  background-color: transparent;
}

/* Template Layout */

/* Header Bar */

.header__container {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: lightgray solid 1px;
}

.header__left {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__left .header__button {
  font-size: 22px;
}

.header__right .header__button {
  padding: 5px;
  margin-right: 15px;
  background-color: transparent;
}

.header__right .header__button:hover {
  font-weight:500;
}


/* Side Navigation */
.navigation__container {
  height: 500px;
  width: 150px;
  padding-top: 10px;
  align-items: center;
}

.navigation__list {
  padding: 10px;
  width: 97%;
}

.navigation__list:hover {
  background-color: var(--color-background);
}

/* Footer */
.footer {
  background-color: grey;
  border-radius: 0px;
}

/* Home Page */
.layout-body {
  display: flex;
}

.page {
  flex-grow: 1;
  background-color: var(--color-background);
  padding: 25px;
  border-radius: 0px;
}

.back-button {
  text-decoration: underline;
  margin-left: -.6rem; /*the font size*/
}

.back-button:hover {
  color: blue;
}

.listings, .inventory {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px 10px;
}

.preview-box:hover {
  background-color: var(--color-hover);
}

.preview-box {
  flex: 1 0 19%;
  max-width: calc(19% - 15px);
  align-items: center;
  text-align: left;
  background-color: white;
  box-shadow: 1px 1px lightgray;
}

.preview-box-container {
  padding: 5px;
}

.preview-box-img {
  margin-top: 5px;
  width: 100%;
  height: 40%;
}

.preview-box-info {
  display: flex;
  justify-content: space-between;
}

.preview-box-traits {
  height: 75px;
}

.preview-box-traits * {
  font-size: 13px;
}

.preview-buttons {
  float: right;
}

.preview-box-button {
  width: 18px;
  padding: 1px;
}

.delete:hover {
  background-color: #ff4c4c;
}
.edit:hover {
  background-color: #6495ED;
}

.level {
  padding: 3px;
  color: #bdbdbd;
  font-size: 13px;
}

/* Listing */
.listing-container {
  display:flex;
  padding: 20px;
}

.listing-container img {
  height: 75%;
}

.listing-details {
  margin-left: 20px;
}

/* Login */
.login-page * {
  text-align: center;
  align-items: center;
}

.login-page input {
  text-align: left;
}

.login-form {
  border: 1px solid black;
  border-radius: 10px;
  width: 500px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  
}

.login-container {
  padding: 20px;
  width: 500px;
}

.login-container * {
  border: 1px solid black;
  padding: 15px;
  width: 275px;
}

.login-page a {
  margin:auto;
  text-align: center;
  color: darkgray;
  text-decoration: underline;
}

.login-page a:hover {
  margin:auto;
  text-align: center;
  color: blue;
}

/* User info page */
.user-page {
  padding: 25px;
}

/*Pal Create Page */
.create-pal-form {
  width: 550px;
  background-color: white;
  padding: 25px;
}

.create-pal-form .form-top {
  display: flex;
  gap: 10px;
}

.name-container {
  flex: 1 0;
}

.level-container {
  flex: 0 1;
  max-width: 100px;
}


.create-pal-form .form-level {
  max-width: 100px;
  height: 35px;
  padding: 10px;
  border: solid lightgray 1px;
  appearance: none;
}


.submit {
  padding: 7px;
  border: solid lightgray 1px;
}

.submit:hover {
  background-color: var(--color-hover);
}

@media only screen and (min-width: 1440px) {
  .preview-box {
    flex: 1 0 16%;
    max-width: calc(16%);
  }
}

@media only screen and (max-width: 1440px) {
  .preview-box {
    flex: 1 0 20%;
    max-width: calc(20% - 10px);
  }
}

@media only screen and (max-width: 1280px) {
  .preview-box {
    flex: 1 0 25%;
    max-width: calc(25% - 10px);
  }
}

@media only screen and (max-width: 1080px) {
  .preview-box {
    flex: 1 0 33%;
    max-width: calc(33% - 10px);
  }
}


@media only screen and (max-width: 1080px) {
  .preview-box {
    flex: 1 0 33%;
    max-width: calc(33% - 10px);
  }
}


@media only screen and (max-width: 720px) {
  .preview-box {
    flex: 1 0 50%;
    max-width: calc(50% - 10px);
  }
}

@media only screen and (max-width: 640px) {
  .listings {
    flex-direction: column;
  }

  .preview-box {
    flex: 1;
    max-width: 100%;
  }
}